<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="5.3.3" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="Grid.Mvc" version="3.0.0" targetFramework="net452" />
  <package id="jQuery" version="3.7.1" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.4.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.Web" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.8" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebHelpers" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages.Data" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.Net.Compilers" version="4.2.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.TypeScript.MSBuild" version="5.7.1" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net48" />
  <package id="Modernizr" version="2.8.3" targetFramework="net452" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net452" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="TinyMCE" version="7.6.0" targetFramework="net48" />
  <package id="TinyMCE.MVC" version="3.4.7" targetFramework="net452" />
  <package id="TinyMCE.MVC.Sample" version="3.4.5" targetFramework="net452" />
</packages>